
#root1{
  width: 100%;
  height: 100%;
}
.submit-btn {
  width: 10rem !important;
}
.logsin-btns {
  align-items: center !important;
  justify-content: center !important;
}
.logsin-btns>div>input {
  border: 0 !important;
  background-color: #60a4b7 !important;
  font-size: 1.1rem !important;
}
.logsin-btns input:hover {
  background-color: blue !important;
}
@media only screen and (min-width: 600px) {
  .container {
      width: 40rem !important;
  }
}
@media only screen and (max-width: 600px) {
  
  .logsin-btns {
      display: flex !important;
      margin-top: 0 !important;
      flex-direction: column !important;

  }
}
@media only screen and (max-width: 1200px) {
  #root1 {
    width: 36rem !important;
  }
}
#user-name, #password {
  font-size: 1.1rem;
}